<div class="form-group" ng-class="{'has-error': $ctrl.error}">
    <label class="control-label" ng-transclude></label>
    <p class="input-group">

        <input type="text"
               uib-datepicker-popup="{{$ctrl.format}}"
               class="form-control"
               ng-model="$ctrl.model"
               is-open="$ctrl.opened"
               datepicker-options="$ctrl.dateOptions"
               close-text="Закрыть"
               clear-text="Очистить"
               current-text="Сегодня"/>
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="$ctrl.opened=1"><i class="fa fa-calendar"></i></button>
        </span>
    </p>
    <span class="help-block" ng-bind-html="$ctrl.error" ng-show="$ctrl.error"></span>
    <span class="help-block" ng-bind-html="$ctrl.desc" ng-show="$ctrl.desc"></span>
</div>