<div class="form-group" ng-class="{'has-error': $ctrl.error}">
    <label class="control-label" ng-transclude></label>
    <div class="btn-group">
        <label class="btn btn-primary" ng-model="$ctrl.model" uib-btn-radio="1" uib-uncheckable="uncheckable">Да</label>
        <label class="btn btn-primary" ng-model="$ctrl.model" uib-btn-radio="0" uib-uncheckable="uncheckable">Нет</label>
    </div>
    <span class="help-block" ng-bind-html="$ctrl.error" ng-show="$ctrl.error"></span>
    <span class="help-block" ng-bind-html="$ctrl.desc" ng-show="$ctrl.desc"></span>
</div>